<div class="row p-2">
    <h1>Educación</h1>
    <div class="offset-1 col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> <h3> - (years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, inventore. Iusto debitis sunt unde ducimus. Harum cum corrupti inventore quam! Dolore sequi optio a laudantium eum? Laborum adipisci ratione a?</p>
            </li>
            <li>
                <h1>Estudio 2</h1> <h3> - (years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, inventore. Iusto debitis sunt unde ducimus. Harum cum corrupti inventore quam! Dolore sequi optio a laudantium eum? Laborum adipisci ratione a?</p>
            </li>
            <li>
                <h1>Estudio 3</h1> <h3> - (years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, inventore. Iusto debitis sunt unde ducimus. Harum cum corrupti inventore quam! Dolore sequi optio a laudantium eum? Laborum adipisci ratione a?</p>
            </li>
        </ul>
    </div>
</div>
