<div class="row p-2">
    <h1>Proyectos:</h1>
    <div class="offset-md-1 offset-lg-1 col-sm-12 col-md-6 col-lg-6">
        <h2>Proyecto 1</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea quae sit aut error commodi, iste neque amet placeat ipsum, vero laborum id aliquid tempora maiores! Sit consequuntur deserunt quos laudantium.</p>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5 text-center">
        <img src="../../../assets/bibilioteca.jpg" alt="biblioteca" class="img-fluid">
    </div>
</div>
